.readCase {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.readCaseTitle {}

.readCaseTitle h3 {
    width: 500px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.readCaseTitle p {
    width: 800px;
    margin-bottom: 48px;
}

.readCaseTitleImage img {
    border: 1px solid red;
    width: 985px;
}

.readCaseMain{
    margin-top: 45px;
    padding-bottom: 30px;
    border-bottom: 1px solid #282938;
}

.readCaseItem h6, h5{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #282938;
}

.readCaseMain{
    display: flex;
    gap: 150px;
}

.readCaseList{
    padding-left: 20px;
    margin-bottom: 0;
}

.readCaseList li{
    list-style-type: disc;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: rgb(40, 41, 56, .7);
}

.readCase .readBlogText h3 {
    margin-top: 0px !important;
}